# Database
DATABASE_URL="postgresql://postgres:Veronapressanac5!@db.giwlzcfqivutenqemehz.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://giwlzcfqivutenqemehz.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdpd2x6Y2ZxaXZ1dGVucWVtZWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNDYxMjMsImV4cCI6MjA3MTcyMjEyM30.Kt_mD97Xw-zhHRn2NRO4t_zi5tUkBFRbW7S72w3gZgQ"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdpd2x6Y2ZxaXZ1dGVucWVtZWh6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjE0NjEyMywiZXhwIjoyMDcxNzIyMTIzfQ.RjXLmYTWplRGghj8vbLtFQuXbPFBRenAnFb7X9d1TY0"

# NextAuth
NEXTAUTH_SECRET="warzone-tournament-secret-key-2024-xyz789"
NEXTAUTH_URL="https://warzone-tournament-modern.vercel.app"

# Internationalization
NEXT_PUBLIC_DEFAULT_LOCALE="en"

# Storage
NEXT_PUBLIC_STORAGE_BUCKET="evidence"
STORAGE_BUCKET="evidence"
